<apex:page >
</apex:page>
<!-- <apex:page controller="TrackerController" standardStylesheets="false">
    <!--  Style classes defined for Div,Pageblock,Button and Picklist    -->
   <!-- <style>
        .labelDesign {
        color: #111; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center;
        }    
        .headingDesign {
        color: #111;font-weight: bold !important; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center;
        }   
        .MainDivMargin{
        margin-top: 24px;
        margin-left: 26px;
        }
        .PageBlockDiv{       
        margin-top: 20px;
        }
        .subMainDivInLine{
        display: inline-block;
        }
        
        .subMainDivMargin{
        margin-left: 93px;
        margin-right: 53px;
        }
        .showButton{
        font-weight: bold !important;
        width: 111px;
        height: 32px;
        text-decoration: none;
        color: #696969!important; 
        }
        .selectListHeightWidth{
        width: 178px;
        height: 26px;
        margin-left: 8px;
        
        }
    </style> -->
    <!-- <apex:form >
        <!-- Defining Tracker picklist(contain object names) and Filter by picklist -->  
        <!--<div class="MainDivMargin">
            
            <div>
                <div class="subMainDivInLine">
                    <apex:outputLabel styleClass="labelDesign"> Tracker Object : </apex:outputLabel>
                    <apex:selectList size="1" value="{!selectedTrackerRecord}" styleClass="selectListHeightWidth">
                        <apex:selectOptions value="{!TrackerRecords }"/>
                    </apex:selectList>                    
                </div>
                <div class="subMainDivInLine subMainDivMargin">
                    <apex:outputLabel styleClass="labelDesign"> Filter By  : </apex:outputLabel>
                    <apex:selectList size="1" value="{!selectedFilterBy}" styleClass="selectListHeightWidth">
                        <apex:selectOptions value="{!FilterByRecords }"/>
                    </apex:selectList> 
                </div>
                <div class="subMainDivInLine">
                    <apex:commandbutton value="Show" styleclass="showButton" action="{!showTable}"/><br/>
                </div>                    
            </div> 
            
           <!-- <div class="PageBlockDiv">                
                <apex:outputLabel value="My Approvals" rendered="{!isHide}" styleClass="headingDesign"/>
                <apex:pageblock rendered="{!isHide}">
                    
                    <!-- Table to display when user select object name and Filter by values--->  
                    <!-- <apex:pageBlockTable value="{!twp}" var="s" id="table" rendered="{!isHide}" > 
                        <apex:column headerValue="Action">
                            <apex:outputLink value="{!s.idv}" styleClass="btn showButton" target="_blank">{!s.RecordName}</apex:outputLink>&nbsp;|&nbsp;
                            <apex:commandLink value="Hide" id="theCommandLink" styleClass="btn showButton" action="{!hidingRow}" reRender="table"> 
                                <apex:param name="index" value="{!s.counterWrap}"/>  
                            </apex:commandLink>	
                        </apex:column>                  
                        <apex:column value="{!s.TrackerName}" headerValue="Tracker "/>
                        <apex:column value="{!s.Dateassigned}" headerValue="Date Assigned"/>
                        <apex:column value="{!s.Status}" headerValue="Status"/>
                        <apex:column value="{!s.AssignedTO}" headerValue="Assigned To"/>
                        <apex:column value="{!s.Description}" headerValue="Description"/>
                    </apex:pageBlockTable>
                </apex:pageblock>
                <!-- Table to display when User select Unhide filter by value(records which were previously hidden will be shown--->  
               <!-- <apex:pageblock rendered="{!isUnHide}">
                    <apex:pageBlockTable value="{!twp}" var="s" id="table1" rendered="{!isUnHide}"> 
                        <apex:column headerValue="Action">
                            <apex:commandLink value="Unhide" styleClass="btn showButton" id="theCommandLink"  action="{!hidingRow}" reRender="table1"> 
                                <apex:param name="index" value="{!s.counterWrap}"/>  
                            </apex:commandLink>	
                        </apex:column>
                        <apex:column value="{!s.RecordName}" headerValue="Record Name "/>                                          
                        <apex:column value="{!s.TrackerName}" headerValue="Tracker "/>
                        <apex:column value="{!s.Dateassigned}" headerValue="Date Assigned"/>
                        <apex:column value="{!s.Status}" headerValue="Status"/>
                        <apex:column value="{!s.AssignedTO}" headerValue="Assigned To"/>
                        <apex:column value="{!s.Description}" headerValue="Description"/>
                    </apex:pageBlockTable>  
                </apex:pageblock>
                <!-- Table to display when page loads ( By default records)---> 
               <!-- <apex:outputLabel value="Open Approvals" rendered="{!isNoHideUnHide}" styleClass="headingDesign"/>                    
                <apex:pageblock rendered="{!isNoHideUnHide}">                
                    <apex:pageBlockTable value="{!twpOpen}" var="s" id="table3" rendered="{!isNoHideUnHide}"> 
                        <!-- <apex:column headerValue="Action">
<apex:outputLink styleClass="btn showButton" value="{!s.idv}" target="_blank">Edit</apex:outputLink>&nbsp;&nbsp;
</apex:column> -->
                       <!-- <apex:column value="{!s.RecordName}" headerValue="Record Name "/>                                          
                        <apex:column value="{!s.TrackerName}" headerValue="Tracker "/>
                        <apex:column value="{!s.Dateassigned}" headerValue="Date Assigned"/>
                        <apex:column value="{!s.Status}" headerValue="Status"/>
                        <apex:column value="{!s.AssignedTO}" headerValue="Assigned To"/>
                        <apex:column value="{!s.Description}" headerValue="Description"/>
                    </apex:pageBlockTable>            
                </apex:pageblock>	
                <!-- Table to display closed today--->
                <!-- <apex:pageblock rendered="{!isClosedToday}">                
                    <apex:pageBlockTable value="{!twp}" var="s" id="table2" rendered="{!isClosedToday}"> 
                        <!-- <apex:column headerValue="Action">
<apex:outputLink styleClass="btn showButton" value="{!s.idv}" target="_blank">Edit</apex:outputLink>&nbsp;&nbsp;
</apex:column> -->
                      <!--  <apex:column value="{!s.RecordName}" headerValue="Record Name "/>                                          
                        <apex:column value="{!s.TrackerName}" headerValue="Tracker "/>
                        <apex:column value="{!s.Dateassigned}" headerValue="Date Assigned"/>
                        <apex:column value="{!s.Status}" headerValue="Status"/>
                        <apex:column value="{!s.AssignedTO}" headerValue="Assigned To"/>
                        <apex:column value="{!s.Description}" headerValue="Description"/>
                    </apex:pageBlockTable> 					
                </apex:pageblock>             
            </div>
        </div>
    </apex:form>
    
</apex:page> -->